*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

a.linkLabo {
    text-decoration: none;
    display: list-item;
    margin-top: 7px;
    margin-bottom: 7px;
    list-style-type: none;
}

.container{
    margin-left: 30px;
}

td{
    text-align: center;
}

.subtitle{
    font-size: 20px;
    text-decoration: underline;
}

/*
Header
*/
.header .header-logo{
    color: white;
    float: left;
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;
    margin-top: 7px;
    margin-bottom: 7px;
}

.header .header-img{
    width: 45px;
    color:white;
}
/*
Header
*/

/* Extra small devices (phones) */
@media only screen and (max-width: 448px) {
    .header{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 90px;
    background-color: black;
    }

    .header .header-menu{
        float: left;
        margin-left: 20px;
    }
    
    .header .header-menu .header-menu-link{
        margin-right: 15px;
        color: #ffffff;
        float: left;
        font-size: 25px;
    }
}

/* Large devices (441px and up) */
@media only screen and (min-width: 448px) {
    .header{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: 50px;
        background-color: black;
        }

    .header .header-menu{
        float: right;
        margin-right: 20px;
    }
    
    .header .header-menu .header-menu-link{
        margin-right: 15px;
        color: #ffffff;
        float: left;
        font-size: 25px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
} 
