body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1{
    font-variant: small-caps;
    background-color: red;
}

a:hover{
    border: 1px dashed green;
}

.stippeltjesrand{
    border: 1px dotted black;
}