.kaart{
    margin: auto;
    border: 4px solid black;
    border-radius: 5px;
}

.kaart:hover {
    filter: contrast(80%);
}

#kaartContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    margin: 50px auto;
    width:fit-content;
}

#start{
    margin: 20vw auto 0;
    display: block;
    width: 150px;
    border-radius:9px;
    border:2px solid black;
    cursor:pointer;
    color:#ffffff;
    font-family: Trebuchet MS, serif;
    font-size:28px;
    padding:18px 43px;
    text-decoration:none;
}
#start:active {
    position:relative;
    top:1px;
}
