.colorDemo {
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius: 20px;
	float: left;
}

.kader{
	border: 1px solid black;
	border-radius: 20px;
	width: fit-content;
	float: left;
}

.kader div{
	float: left;
	margin: 20px;
}
